// baseStyles.scss

img {
    width: 100%;
}

p {
    margin: 0;
}

// .App {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
// }

.pinkButton {
    background: #FFC7D0 !important;
    border: 1px solid #000000 !important;
    border-radius: 16px !important;
    padding: 8px 10px !important;
    min-width: 110px;
    // margin: 0 5px !important;
    // cursor: pointer;
}