// baseStyles.scss

* {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    display: block;
}


a {
    text-decoration: none;
    // &:hover {
    //     background-color: #941C2F;
        
    //         p {
    //             color: white;
    //         }
    // }
}

// .textContainer a:hover {
//     img {
//         filter: invert(100%) sepia(93%) saturate(0%) hue-rotate(174deg) brightness(109%) contrast(101%)
//     }
//     p {
//         color: white;
//     }
// }

// p {
//     line-height: 1.6 !important;
// }

// button {
//     background-color: transparent;
//     border: none;
//     text-decoration: none;
//     color: inherit;
//     padding: 0;
//     font: inherit;
//     cursor: pointer;
//     outline: inherit;
//     display: inline-block;
// }

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.wrapper {
    margin: 0 auto;
}

.pinkButton {
    background-color: #FFC7D0;
    border: 1px solid #000000;
    border-radius: 16px;
    padding: 1px 0;
    min-width: 110px;
    cursor: pointer;
    &:hover {
        background-color: #941C2F;
        color: white;
        img {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
        }
    }
}

.disable-link {
    pointer-events: none;
        opacity: .25;
}

.disable-button {
    pointer-events: none;
    & > * {
        opacity: .25;
    }
}

input:focus {
    border: 1px solid #941C2F;
}

    .selectedCategory {
        background-color: #941C2F;
        color: white;
    }