.carouselContainer {
    position: relative;
}

.carouselWindow {
    width: 100%;
    overflow: hidden;
}

.carouselContent {
    display: flex;
    transition: all 0.25s linear;
    width: 100%;
    gap: 25px;
}

.flexWrap {
    flex-wrap: wrap;
}

.carouselContent > * {
    flex-shrink: 0;
}

.leftArrow,
.rightArrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: white;
}

.leftArrow {
    left: -24px;
}

.rightArrow {
    right: -8px;
}

.carouselSection {
    .carouselContent{
        gap: 10px;
    }
    .carouselCard {
        width: 167px;
        height: 156px;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
}