.carouselContainer {
    position: relative;
}

.carouselWindow {
    width: 100%;
    overflow: hidden;
}

.carouselContent {
    display: flex;
    transition: all 0.25s linear;
    width: 100%;
    gap: 42px;

}

.carouselImageList {
    width: 100%;
    scroll-behavior: smooth;
    display: inline-block;
    // position: relative;
    // vertical-align: middle;
    // text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    &::-webkit-scrollbar {
        display: none;
    }

    :first-child {
        margin-left: 0;
    }

    :last-child {
        margin-right: 0;
    }

    li {
        list-style: none;
        display: inline-block;
        // position: relative;
        // vertical-align: middle;
        margin-left: 21px;
        margin-right: 21px;

        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

.flexWrap {
    flex-wrap: wrap;
}

.carouselContent>* {
    flex-shrink: 0;
}

.leftArrow,
.rightArrow {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: white;
}

// .leftArrow::before,
// .rightArrow::before {
//     content: "";
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 48px;
//     height: 48px;
//     border-radius: 50%;
//     background-color: blue;
//     z-index: 1;
// }

.leftArrow {
    left: -24px;
}

.rightArrow {
    right: -24px;
}

.carouselSection {
    .carouselContent {
        gap: 10px;
    }

    .carouselCard {
        width: 167px;
        height: 156px;

        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

.testCarousel {
    width: 100%;
    position: relative;

    ul {
        width: 100%;
        scroll-behavior: smooth;
        display: inline-block;
        // position: relative;
        // vertical-align: middle;
        // text-align: center;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;

        &::-webkit-scrollbar {
            display: none;
        }

        :first-child {
            margin-left: 0;
        }

        :last-child {
            margin-right: 0;
        }
    }

    li {
        list-style: none;
        display: inline-block;
        // position: relative;
        // vertical-align: middle;
        margin-left: 5px;
        margin-right: 5px;
        width: 167px;
        height: 156px;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .leftArrow {}
}