// _dateIdeas.scss

.dateIdeasList {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding: 236px 62px;
    border: 1px solid green;
}

.dateIdeasCard {
    width: 182px;
    width: 12%;
    height: 315px;
    border-radius: 8px;
    background: #941C2F;
    position: relative;
    .imageContainer {
        height: 205px;
        overflow: hidden;
        border-radius: 8px 8px 0 0;
    }
    .textContainer {
        // border: 1px solid green;
        margin: 10px 15px;
        overflow: hidden;
    }
    h2 {
        white-space: nowrap;
        padding: 5px 0;
    }
    p {
        padding: 2px 0;
    }
}

.heart {
    width: 30px;
    position: absolute;
    top: 15px;
    left: 10px;
}