// _dateIdeas.scss

.dateIdeasList {
    // border: 1px solid green;
    // position: relative;
}

.dateIdeasContainer {
    padding: 236px 62px;
    // border: 1px solid purple;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: max(5%, 60px);
    // display: none
}

.dateIdeasCard {
    // width: 182px;
    // width: 12%;
    width: max(12%, 182px);
    height: 315px;
    border-radius: 8px;
    background: #941C2F;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 15px;
    position: relative;
    .imageContainer {
        height: 205px;
        overflow: hidden;
        border-radius: 8px 8px 0 0;
    }
    .textContainer {
        // border: 1px solid green;
        margin: 10px 15px;
        // overflow: hidden;
    }
    h2 {
        white-space: nowrap;
        overflow: hidden;
        padding: 5px 0;
        text-overflow: ellipsis;
    }
    p {
        padding: 2px 0;
    }
    &:hover {
        transform: scale(1.3);
        height: auto;
        h2 {
            white-space: normal;
        }
    }
    button:hover{
        background-color: transparent;
    }
}

.heart {
    width: 30.48px;
    height: 26.59px;
    position: absolute;
    top: 15px;
    left: 10px;
    // background-color: red;
    // border: 1px solid white;
    background-position: center;
    background-size: cover;
    .whiteHeart:hover {
        // filter: invert(15%) sepia(33%) saturate(6563%) hue-rotate(336deg) brightness(87%) contrast(92%);
        // filter: invert(26%) sepia(20%) saturate(7407%) hue-rotate(330deg) brightness(65%) contrast(99%);
        filter: invert(26%) sepia(20%) saturate(7415%) hue-rotate(320deg) brightness(51%) contrast(93%);
    }
    .redHeart:hover {
        filter: brightness(0) invert(1);
    }
}

.hideHeart {
    display: none
}

// .whiteHeart {
//     background-image: url(../assets/whiteHeart.svg);
// }
// .redHeart {
//     background-image: url(../assets/redHeart.svg);
// }

.catch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 35;
}

.notSignedIn {
    position: relative;
    width: min(90%,496px);
    height: 350px;
    border-radius: 16px;
    border: 1px solid #941C2F;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    .closeButton {
        position: absolute;
        top: 23px;
        right: 23px
    }
    .userAuth {
        padding-left: 0;
    }
    a {
        margin: 0 auto;
    }
    .userAuthTop{
        margin-bottom: 35px;
    }
    .pinkButton {
        width: 110px;
    }
    button:hover {
        background-color: transparent;
    }
}