// header.scss

.headerMobile {
    display: none;
}

.headerNormal {
    height: 186px;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 2fr minmax(200px, 4fr) 2fr;
    grid-template-rows: 120px;
    // grid-template-rows: auto;
    column-gap: 30px;
    grid-template-areas:
        "logo headerSearchBar right"
        "headerFilter headerFilter headerFilter";
    position: fixed;
    width: 100vw;
    z-index: 20;
    background-color: #FFDEE4;
}

.logo {
    grid-area: logo;
    width: 100%;
    a {
        max-width: 300px;
        // margin: 0 auto;
        margin-left: 60px;
        &:hover {
            background-color: transparent;
        }
    }
}

.headerSearchBar {
    grid-area: headerSearchBar;
    width: min(100%,700px);
    margin: 0 auto;
    position: relative;
    input {
        border: 1px solid #B1B1B1;
        border-radius: 16px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        width: 100%;
        padding: 8px 0 8px 35px;
        // padding-left: 30px;
        &:focus {
            border: 1px solid #941C2F;
        }
        &:focus + .magnifyingGlass>img {
            filter: invert(24%) sepia(82%) saturate(1240%) hue-rotate(310deg) brightness(70%) contrast(56%);
        }
    }
}

.headerFilter {
    grid-area: headerFilter;
    width: 700px;
    margin: 0 auto;
    // border: 1px solid red;
    // padding-bottom: 50px;
}

.headerRightSide {
    grid-area: right;
    display: flex;
    justify-content: end;
    margin-right: 60px;
    transform: translate(0px, 42px);

}

.savedButton, .userAuth {
    // grid-area: saved;
    .pinkButton {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        &:hover img{
            filter: brightness(0) invert(1);
        }
    }
    img {
        width: 22px;
        height: 22px;
    }
}

.userAuth {
    // grid-area: userAuth;
    padding-left: 20px;
    width: 140px;
    .signOut:hover {
        background-color: transparent;
    }
}

.signOut {
    // grid-area: signOut;
}

.logo,
.headerSearchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerFilter {
    display: flex;
    justify-content: space-between;
}

// .saved,
// .userAuth {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     text-align: center;
// }

// .welcome {
//     text-align: left;
// }

.magnifyingGlass {
    position: absolute;
    left: 8px;
    z-index: 2;
    width: 24px;
}

.profileContainer a p {
    min-width: 60px;
    text-align: center;
}