// header.scss

.headerMobile {
    display: none;
    background-color: #ffffff;
}

.header .pinkButton:hover {
    // background-color: #FFC7D0;
}

.userAuthMobile, .logoMobile {
    display: none;
}

.headerNormal {
    width: 100vw;
    height: 186px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 20;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.25);
}

.headerNormalTop {
    display: flex;
    gap: 26px;
    max-width: 1440px;
    height: 50px;
    padding: 0 calc(57px / 1440px * 100vw);
    margin-top: 37px;
}

.headerLogo {
    width: 300px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    a {
        width: 100%;
    }
}

.headerSearchBar {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    input {
        border: 1px solid #b1b1b1;
        border-radius: 16px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        width: 100%;
        padding: 8px 0 8px 35px;
        &::placeholder {
            overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
        }
        &:focus {
            border: 1px solid #941c2f;
        }
        &:focus + .magnifyingGlass > img {
            filter: invert(24%) sepia(82%) saturate(1240%) hue-rotate(310deg)
                brightness(70%) contrast(56%);
        }
    }
}

.homeSavedButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    // width: 110px;
    .pinkButton {
        // width: 110px;
        padding: 5px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        &:hover img {
            filter: brightness(0) invert(1);
        }
    }
    img {
        width: 22px;
        height: 22px;
    }
}

.userAuth {
    flex-shrink: 0;
    width: 140px;
    .pinkButton {
        width: 110px;
        padding: 6.5px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        &:hover img {
            filter: brightness(0) invert(1);
        }
    }
}

.flexAlignCenter {
    display: flex;
    align-items: center;
}

.br {
    display: block;
    margin-bottom: 10px;
}

.welcome {
    padding-top: 8px;
}

.headerNormalBottom {
    padding: 30px calc(57px / 1440px * 100vw);
}

.headerFilter {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.magnifyingGlass {
    position: absolute;
    left: 8px;
    z-index: 2;
    width: 24px;
}

.userAuth svg polygon {
    fill: white;
    stroke: black;
    stroke-width: 1px;
}

.signInSignUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    > div {
        height: 60px;
    }
    .pinkButton {
        min-width: 110px;
    }
}