// header.scss

.headerMobile {
    display: none;
    background-color: #FFFFFF;
}

.headerNormal {
    width: 100vw;
    height: 186px;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 20;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.25);
}

.headerNormalTop {
    display: flex;
    gap: 26px;
    max-width: 1440px;
    height: 50px;
    margin: 37px calc(70px/1440px * 100vw);
}

.headerLogo {
    width: 300px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    a {
        width: 100%;
    }
}

.headerSearchBar {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    input {
        border: 1px solid #B1B1B1;
        border-radius: 16px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        width: 100%;
        padding: 8px 0 8px 35px;
        &:focus {
            border: 1px solid #941C2F;
        }
        &:focus + .magnifyingGlass>img {
            filter: invert(24%) sepia(82%) saturate(1240%) hue-rotate(310deg) brightness(70%) contrast(56%);
        }
    }
}

.homeSavedButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 110px;
    .pinkButton {
        width: 110px;
        padding: 5px ;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        &:hover img {
            filter: brightness(0) invert(1);
        }
    }
    img {
        width: 22px;
        height: 22px;
    }
}

.userAuth {
    flex-shrink: 0;
    width: 140px;
    .pinkButton {
        width: 110px;
        padding: 5px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &:hover img {
            filter: brightness(0) invert(1);
        }
    }
}

.br {
    display: block;
    margin-bottom: 10px;
}

.welcome {
    padding-top: 8px;
}

.headerFilter {
    grid-area: headerFilter;
    width: 700px;
    margin: 0 auto;
    // border: 1px solid red;
    // padding-bottom: 50px;
}

// .savedButton, .userAuth {
//     .pinkButton {
//         display: flex;
//         justify-content: space-evenly;
//         align-items: center;
//         &:hover img{
//             filter: brightness(0) invert(1);
//         }
//     }
//     img {
//         width: 22px;
//         height: 22px;
//     }
// }


.headerFilter {
    display: flex;
    justify-content: space-between;
}


.magnifyingGlass {
    position: absolute;
    left: 8px;
    z-index: 2;
    width: 24px;
}

.userAuth svg polygon {
    fill:white;
    stroke:black;
    stroke-width:1px

}

// .second {
//     fill: white;
//     stroke:white;
//     stroke-width: 5px;
// }