// typography.scss
@import url('https://fonts.googleapis.com/css2?family=Mirza:wght@700&family=Raleway:wght@500;600&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

p,
a {
    font-weight: 600;
    font-size: 16px;
    color: white;
    line-height: 20px;
}

.pinkButton {
    font-weight: 600;
    font-size: 16px;
    color: black;
    p {
        color: black;
    }
}

button p {
    padding: 0 20px;
}


.userAuth p {
    color: black;
}

.signOut {
    color: #941C2F;
    text-decoration: underline;
}

.signInBottom>p,
.signUpBottom>p {
    color: black;
    font-size: 24px;
    font-weight: 400;
}

h1 {
    font-family: 'Mirza', cursive;
    font-size: 40px;
    font-weight: 700;
    color: white;
}

h2 {
    font-family: 'Mirza', cursive;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

h3 {
    font-family: 'Mirza', cursive;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.modal h2 {
    font-size: 24px;
}
.modal .textContainer p {
    font-size: 20px;
}
.modal .textContainer h2,
.modal .textContainer p {
    color: black;
    font-weight: 400;
}

.dateIdeasList .textContainer p {
    font-weight: 500;
}

input {
    font-family: 'Raleway', sans-serif;
}