// typography.scss
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

.pinkButton {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 600 !important;
    font-size: 16 !important;
    color: black !important;
}