// typography.scss
@import url('https://fonts.googleapis.com/css2?family=Mirza:wght@700&family=Raleway:wght@600&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

.pinkButton {
    font-weight: 600;
    font-size: 16px;
    color: black;
    cursor: pointer;
    p {
        color: black;
    }
}

p, a {
    font-weight: 600;
    font-size: 16px;
    color: white;
    line-height: 20px;
}

.userAuth p {
    color: black;
}

.signOut a {
    color: #941C2F;
    text-decoration: underline;
}

.signInBottom p,
.signUpBottom p {
    color: black;
    font-size: 24px;
    font-weight: 400;
}

h2 {
    font-family: 'Mirza', cursive;
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.modal h2 {
    font-size: 40px;
}
.modal .textContainer p {
    font-size: 32px;
}
.modal .textContainer h2,
.modal .textContainer p {
    color: black;
    font-weight: 400;
}